<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        <div class="container">
            <h2 class="title is-2 has-text-centered">Booking List&nbsp;<span th:text="${findNameMessage}"></span></h2>

            <div class="table-container">

                <a th:href="@{/bookings/add}" th:text="Add" class="button"></a>
                <!--    add some code to show the bookings which are in the model-->

                
                <table class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">Booker</th>
                            <th style="width: 150px;">Name 2</th>
                            <th style="width: 150px;">Name 3</th>
                            <th style="width: 150px;">Name 4</th>
                            <th style="width: 150px;">Course Name</th>
                            <th style="width: 150px;">Date</th>
                            <th style="width: 150px;">Time</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="booking : ${bookings}">
                            <td th:text="${booking.id}"></td>
                            <td th:text="${booking.name1}"></td>
                            <td th:text="${booking.name2}"></td>
                            <td th:text="${booking.name3}"></td>
                            <td th:text="${booking.name4}"></td>
                            <td th:text="${booking.courseName}"></td>
                            <td th:text="${booking.bookingDate}"></td>
                            <td th:text="${booking.bookingTime}"></td>

                            <td><a th:href="@{/bookings/edit(id=${booking.id})}">Edit</a>&nbsp;<a
                                    th:href="@{/bookings/delete(id=${booking.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>






        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>